# Start

In [35]:
import pandas as pd

df = pd.read_csv("clean_train.csv")
df.head()

,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_encoded,Embarked_encoded
0,0,0,3,male,22.0,1,0,7.2500,S,1,2
1,1,1,1,female,38.0,1,0,71.2833,C,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,0,2
3,3,1,1,female,35.0,1,0,53.1000,S,0,2
4,4,0,3,male,35.0,0,0,8.0500,S,1,2

# Get x and y

In [36]:
x = df[["Pclass", "Age", "SibSp", "Parch", "Sex_encoded", "Embarked_encoded"]]
y = df["Survived"]

In [37]:
x.head()

   Pclass   Age  SibSp  Parch  Sex_encoded  Embarked_encoded
0       3  22.0      1      0            1                 2
1       1  38.0      1      0            0                 0
2       3  26.0      0      0            0                 2
3       1  35.0      1      0            0                 2
4       3  35.0      0      0            1                 2

In [38]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# Choosing the best model

In [39]:
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [40]:
lr_scores = cross_val_score(LogisticRegression(), x, y, cv=10)
rfc_scores = cross_val_score(RandomForestClassifier(), x, y, cv=10)
svc_scores = cross_val_score(SVC(), x, y, cv=10)

print(f"""
Logisctic regression scores:
    {lr_scores}
    Mean score: {lr_scores.mean()}

Random forest classifier scores:
    {rfc_scores}
    Mean score: {rfc_scores.mean()}

SVC scores:
    {svc_scores}
    Mean score: {svc_scores.mean()}
""")

Logisctic regression scores:
    [0.78888889 0.79775281 0.7752809  0.85393258 0.82022472 0.79775281
 0.80898876 0.79775281 0.79775281 0.82022472]
    Mean score: 0.8058551810237203

Random forest classifier scores:
    [0.67777778 0.78651685 0.76404494 0.84269663 0.86516854 0.82022472
 0.84269663 0.78651685 0.82022472 0.84269663]
    Mean score: 0.804856429463171

SVC scores:
    [0.62222222 0.64044944 0.62921348 0.64044944 0.60674157 0.66292135
 0.65168539 0.64044944 0.68539326 0.60674157]
    Mean score: 0.6386267166042447

Since random forest classifier slightly out performs the other 2 models, we can proceed with it

# Train test split

In [41]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# Training

In [42]:
model = RandomForestClassifier()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

# Score

In [43]:
model.score(x_test, y_test)

0.8100558659217877