# Start

In [2]:
import pandas as pd

df = pd.read_csv("clean_train.csv")
df.head()

,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_encoded,Embarked_encoded
0,0,0,3,male,22.0,1,0,7.2500,S,1,2
1,1,1,1,female,38.0,1,0,71.2833,C,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,0,2
3,3,1,1,female,35.0,1,0,53.1000,S,0,2
4,4,0,3,male,35.0,0,0,8.0500,S,1,2

# Get x and y

In [3]:
x = df[["Pclass", "Age", "SibSp", "Parch", "Sex_encoded", "Embarked_encoded"]]
y = df["Survived"]

In [4]:
x.head()

   Pclass   Age  SibSp  Parch  Sex_encoded  Embarked_encoded
0       3  22.0      1      0            1                 2
1       1  38.0      1      0            0                 0
2       3  26.0      0      0            0                 2
3       1  35.0      1      0            0                 2
4       3  35.0      0      0            1                 2

In [5]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# Train test split

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

# Training

In [8]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

# Score

In [10]:
model.score(x_test, y_test)

0.8022388059701493